//Typography
$font: "Varela Round", sans-serif;
$font2: "Libre Baskerville", serif;
$font3: "Pacifico", cursive;

//Color --> 1
$icon: #45ab49;
$icon-2: #14213d;
$loc: #1a2225;
$dropHover: #f8f9fa;
$border: #ebebeb;
$num: rgb(253, 100, 72);
$bg-1: #f7f7f7;
$link: #666666;
$text: #bdd239;
$C-1: #959595;
$C-2: #f0f0f0;
$C-3: #888888;
$bg: #282c2f;
$loader: #121053;

//Color --> 2
$headerBg01: #20779a;
$headerBg02: rgb(32, 126, 160);
$btn: #21a7d0;
$bgOne: #fbf8cc;
$bgTwo: #e9fbd5;
$bgThree: #dcf1fd;
$C-4: #f8f6d1;
$C-5: #eaddf8;
$C-6: #e9fbd5;

$white: #fff;
$black: #000;
$light: #e5e5e5;

$primary: #00b9f1;
$secondary: #14213d;
$top-bg: #070c17;
$alpha: #07b3e7;
$beta: #ff006e;
$gamma: #f9930c;
$delta: #4c7eeb;
$epsilon: #3dd8b6;
$zeta: #26d168;
$eta: #8338ec;
$theta: #332750;
// $lota:
// $kappa:

//Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$you: #ff0000;
$in: #0077b5;
$be: #1769ff;
