.provide {
  margin: 0 0;
  padding: 5rem 0;
  background: $C-2;
  &__title {
    font-family: $font;
    font-weight: 700;
    font-size: 2.2rem;
    color: $loc;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 5rem 0;
  }
  &__card {
    margin: 0 0;
    &-text {
      font-family: $font;
      font-weight: 700;
      font-size: 1.2rem;
      color: $icon;
      text-transform: capitalize;
    }
    &-para {
      font-size: 1rem;
      font-family: $font;
      color: $loc;
    }
    &-icon {
      font-size: 2rem;
      color: $icon;
      margin: 0 0 1.4rem 0;
    }
  }
}
