.cart {
  margin: 0 0 8rem 0;
  overflow: hidden;
  &__title {
    font-family: $font;
    font-size: 2.5rem;
    font-weight: 700;
    color: $loc;
    margin: 0 0 4rem 0;
    text-transform: uppercase;
    position: relative;

    // min-width: 768px;
    @include md-screen {
      font-size: 3rem;
    }
    &::after {
      position: relative;
      content: "";
      background: $num;
      width: 4rem;
      height: 3px;

      top: 2rem;
      left: 16.6rem;

      // min-width: 568px;
      @include iphn-screen {
        position: absolute;
      }

      // min-width: 768px;
      @include md-screen {
        top: 2.5rem;
        left: 20rem;
      }
    }
  }
  &__item {
    margin: 0 0;
    overflow: hidden;
    &:hover &-img img {
      transform: scale(1.1);
      opacity: 0.6;
      transition: all 0.3s ease-in;
    }
    &:hover &-icon {
      left: 8%;
      transition: all 0.3s ease-in;
    }
    &-text {
      font-size: 0.9rem;
      text-transform: uppercase;
      font-family: $font;
      color: $loc;
      margin: 0 0 0.8rem 0;
    }
    &-name {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-family: $font;
      font-weight: 700;
      color: $loc;
      margin: 0 0 0.5rem 0;

      // min-width: 1200px;
      @include xl-screen {
        font-size: 0.7rem;
      }
    }
    &-price {
      font-size: 1.3rem;
      font-family: $font3;
      color: $icon;
    }

    &-img {
      overflow: hidden;
      position: relative;
      background: rgba(0, 0, 0, 0.7);
      img {
        transition: all 0.3s ease-in;
        transform: scale(1);
        opacity: 1;
      }
    }
    &-icon {
      position: absolute;
      z-index: 999;
      left: -30%;
      top: 20%;
      background: $white;
      width: 2rem;
      height: 6rem;
      text-align: center;
      border-radius: 30px;
      transition: all 0.3s ease-in;
      &--link {
        color: $loc !important;
        display: inherit !important;
        box-shadow: none !important;
        outline: 0 !important;
        font-size: 1.3rem !important;
        padding: 0 0 !important;
        &:nth-child(1) {
          margin: -8px 0 0rem 0;
        }
        &:nth-child(2) {
          margin: 2rem 0 0 5px;
        }
      }
    }
  }
  &__nav {
    margin: 0 0 1rem 0;
    padding: 0 0 0.5rem 0;

    border-bottom: 1px solid $border;

    // min-width: 1200px;
    @include xlii-screen {
      margin: 0 0 2rem 0;
      padding: 0 0 1rem 0;
    }
    li {
      list-style: none;
      cursor: pointer;
      display: inline-block;
      font-family: $font;
      margin: 0 14px 0 0;
      font-size: 0.9rem;
      text-transform: uppercase;

      // min-width: 568px;
      @include iphn-screen {
        margin: 0 2rem 0 0;
        font-size: 1rem;
      }
    }
    &-show {
      color: $icon;
    }
    &-defl {
      color: $loc;
    }
    &-active {
      position: relative;
      transform: rotateY(0deg);
      transition: all 0.3s ease-in;
    }
    &-hide {
      position: fixed;
      transform: rotateY(180deg);
      transition: all 0.3s ease-in;
    }
  }
  &__backdropshow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 15;
    transition: all 0.3s linear;
    transform: scale(1);
  }
  &__single {
    &-body {
      position: relative;
      top: 0;
      left: 0;
      z-index: 99;
      margin: -38rem 0 0 0 !important;
      background: $white;
      &--text {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-family: $font;
        color: $loc;
        margin: 0 0 0.8rem 0;
      }
      &--name {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-family: $font;
        font-weight: 700;
        color: $loc;
        margin: 0 0 0.5rem 0;
      }
      &--price {
        font-size: 1.3rem;
        font-family: $font3;
        color: $icon;
      }
      &--list {
        margin: 12px 0 7px 0;
        padding: 0 0 0 1rem;
        li {
          font-size: 1rem;
          font-family: $font;
          color: $loc;
        }
      }
      &--btn {
        color: $white !important;
        display: inherit !important;
        box-shadow: none !important;
        background: $icon !important;
        border-radius: 50px !important;
        padding: 7px 2rem !important;
        font-family: $font;
      }
    }
  }
}
