.help {
  margin: 0 0 5rem 0;
  &__icon {
    font-size: 2.5rem;
    color: $loc;
  }
  &__sub {
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: $font;
    font-weight: 700;
    font-size: 1rem;
    color: $icon;

    // min-width: 768px;
    @include md-screen {
      font-size: 1.2rem;
    }

    // min-width: 992px;
    @include lg-screen {
      font-size: 1rem;
    }

    // min-width: 1200px;
    @include xl-screen {
      font-size: 1.2rem;
    }
  }
  &__para {
    color: $loc;
    font-size: 1rem;
  }
}
